.doc-read-wrap {
	width: 100%
}
.doc-read-menu, .doc-read-content {
	float: left;
}
.doc-read-content {
	width: 50%;
	margin-left: 1%;
}
.doc-clear {
	clear: both;
}
.doc-read-menu {
	background: #fff;
    width: 200px;
	border: 1px solid #eaeaea;
	margin-right: 15px;
	margin-top: 5px;
}



.doc-read-menu ol li {
	background: #f5f5f5;
    list-style-type: none;
    margin: 2px;
    padding-left: 5px;
	cursor: pointer;
}

.doc-read-menu ol li a {
	text-decoration: none;
}

.doc-read-menu ol li ol {
	/* display: none; */
	left: -2px;
    position: relative;
    width: 72.5%;
    margin-left: 33px !important;
    padding: 0;
}
.doc-menu-text-wrap {
	padding-left: 5px;
	border-left: 2px solid #f5f5f5;
}

.doc-read-menu ol li ol > li {
	list-style: lower-alpha;
}
.doc-read-menu ol {
	margin: 0 !important;
	padding: 0;

}

.doc-read-menu ol a{

}

.doc-read-menu ol li:hover > ol {
	/* display: block; */
}

.doc-read-menu ol li:hover > ol li {
	/* margin: 0;
	    padding: 0; */
}
.doc-section-title {
	margin-top: 0 !important;
	padding-top: 0 !important;
}

.doc-read-content-scroll {
	margin-left: 35.7%;
}